@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

// Palette
$coal: #222;
$dark-grey: #424242;
$light-grey: #dfdfdf;
$pastel-blue: #0098FF;
$pastel-orange: #f2d47c;
$purple: #6d21a7;
$violet: #dc00e7;

// Typography
$sans-serif: 'Roboto', sans-serif;
$normal-font-size: 12pt;
$normal-font-weight: 300;
$normal-line-height: 1.6em;

// Links

@mixin light-links {
  &:link, &:visited {
    color: $violet;
  }
}

@mixin dark-links {
  &:link, &:visited {
    color: $violet;
  }
}
