body, input, textarea, select {
  font: $normal-font-weight $normal-font-size $sans-serif;
}

body {
  line-height: $normal-line-height;
}

a {
  text-decoration: none;
  @include light-links;
}


hr {
  border: 0;
  height: 1px;
  background: $light-grey;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

ul {
  list-style-type: square;
}

li {
  margin: 1em 3em;
}

th {
  font-weight: bold;
  text-align: left;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.2em 0.5em;
}
